## Import Libraries & functions

In [2]:
#import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_selection import chi2, f_classif, mutual_info_classif
from itertools import combinations
from scipy import stats as st
import numpy as np
from numpy import argmax
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import RandomOverSampler, SMOTE, BorderlineSMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.combine import SMOTEENN
from imblearn.ensemble import BalancedRandomForestClassifier

In [3]:
# SQL configuratiobn
from sqlalchemy import create_engine

#Postgres DB Password
from config import password

ModuleNotFoundError: No module named 'config'

## Postgres SQL and Pandas communication set up

In [4]:
#Create engine
# engine = create_engine(f'postgresql://postgres:{password}@127.0.0.1:5435/NFL_DB')

## Data Frame creation from SQL DB

In [5]:
#Import Postgres SQL table to Dummy Data Frame
# db_dummy_df = pd.read_sql("Select * from dummy", engine)
# db_dummy_df

,team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,sacks,safties,Passes Defended,ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return,index,year
0,Tennessee Titans,4,1,1,0,1,1,0,0,2,1,2,1,Tennessee Titans - 2013,2013
1,Tennessee Titans,16,1,0,0,1,2,0,1,0,2,0,2,Tennessee Titans - 2012,2012
2,Tennessee Titans,4,1,1,0,1,0,0,1,0,0,1,0,Tennessee Titans - 2011,2011
3,Denver Broncos,0,0,3,0,1,2,1,0,1,2,0,1,Denver Broncos - 2011,2011
4,Green Bay Packers,11,1,2,1,2,2,1,0,0,1,0,2,Green Bay Packers - 2010,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23993,Baltimore Ravens,16,1,1,1,0,0,0,1,1,1,0,1,Baltimore Ravens - 2012,2012
23994,Baltimore Ravens,16,1,0,0,1,1,1,1,1,0,2,1,Baltimore Ravens - 2011,2011
23995,Miami Dolphins,2,0,0,0,0,0,1,2,1,3,1,0,Miami Dolphins - 2009,2009
23996,Philadelphia Eagles,16,0,2,0,3,1,0,2,0,0,1,1,Philadelphia Eagles - 2001,2001
23997,Houston Oilers,3,2,2,1,1,1,0,1,1,2,2,1,Houston Oilers - 1987,1987

In [6]:
#Import Postgres SQL table to Superbowl Data Frame
# db_superbowl_df = pd.read_sql("Select * from superbowl", engine)
# db_superbowl_df.head(10)

   Date                winner
0  2020    Kansas City Chiefs
1  2019  New England Patriots
2  2018   Philadelphia Eagles
3  2017  New England Patriots
4  2016        Denver Broncos
5  2015  New England Patriots
6  2014      Seattle Seahawks
7  2013      Baltimore Ravens
8  2012       New York Giants
9  2011     Green Bay Packers

In [7]:
#Import Postgres SQL table to unique_teams Data Frame
# db_unique_teams_df = pd.read_sql("Select * from unique_teams", engine)
# db_unique_teams_df.head(10)

                  team
0     Tennessee Titans
1       Denver Broncos
2    Green Bay Packers
3  Pittsburgh Steelers
4        Chicago Bears
5  Philadelphia Eagles
6   Indianapolis Colts
7    Arizona Cardinals
8     Seattle Seahawks
9     Baltimore Ravens

## Include evaluation columns to DF

In [8]:
#Add team_year column in superbowl table to evaluate with index column fronm db_dummy_df
# db_superbowl_df["team_year"] = db_superbowl_df["winner"].astype(str) +" - " + db_superbowl_df["Date"].astype(str)
# db_superbowl_df

    Date                winner                    team_year
0   2020    Kansas City Chiefs    Kansas City Chiefs - 2020
1   2019  New England Patriots  New England Patriots - 2019
2   2018   Philadelphia Eagles   Philadelphia Eagles - 2018
3   2017  New England Patriots  New England Patriots - 2017
4   2016        Denver Broncos        Denver Broncos - 2016
5   2015  New England Patriots  New England Patriots - 2015
6   2014      Seattle Seahawks      Seattle Seahawks - 2014
7   2013      Baltimore Ravens      Baltimore Ravens - 2013
8   2012       New York Giants       New York Giants - 2012
9   2011     Green Bay Packers     Green Bay Packers - 2011
10  2010    New Orleans Saints    New Orleans Saints - 2010
11  2009   Pittsburgh Steelers   Pittsburgh Steelers - 2009
12  2008       New York Giants       New York Giants - 2008
13  2007    Indianapolis Colts    Indianapolis Colts - 2007
14  2006   Pittsburgh Steelers   Pittsburgh Steelers - 2006
15  2005  New England Patriots  New England Patriots - 2005
16  2004  New England Patriots  New England Patriots - 2004
17  2003  Tampa Bay Buccaneers  Tampa Bay Buccaneers - 2003
18  2002  New England Patriots  New England Patriots - 2002
19  2001      Baltimore Ravens      Baltimore Ravens - 2001
20  2000        St. Louis Rams        St. Louis Rams - 2000
21  1999        Denver Broncos        Denver Broncos - 1999
22  1998        Denver Broncos        Denver Broncos - 1998
23  1997     Green Bay Packers     Green Bay Packers - 1997
24  1996        Dallas Cowboys        Dallas Cowboys - 1996
25  1995   San Francisco 49ers   San Francisco 49ers - 1995
26  1994        Dallas Cowboys        Dallas Cowboys - 1994
27  1993        Dallas Cowboys        Dallas Cowboys - 1993
28  1992   Washington Redskins   Washington Redskins - 1992
29  1991       New York Giants       New York Giants - 1991
30  1990   San Francisco 49ers   San Francisco 49ers - 1990
31  1989   San Francisco 49ers   San Francisco 49ers - 1989
32  1988   Washington Redskins   Washington Redskins - 1988
33  1987       New York Giants       New York Giants - 1987
34  1986         Chicago Bears         Chicago Bears - 1986
35  1985   San Francisco 49ers   San Francisco 49ers - 1985
36  1984   Los Angeles Raiders   Los Angeles Raiders - 1984
37  1983   Washington Redskins   Washington Redskins - 1983
38  1982   San Francisco 49ers   San Francisco 49ers - 1982
39  1981       Oakland Raiders       Oakland Raiders - 1981
40  1980   Pittsburgh Steelers   Pittsburgh Steelers - 1980
41  1979   Pittsburgh Steelers   Pittsburgh Steelers - 1979
42  1978        Dallas Cowboys        Dallas Cowboys - 1978
43  1977       Oakland Raiders       Oakland Raiders - 1977
44  1976   Pittsburgh Steelers   Pittsburgh Steelers - 1976
45  1975   Pittsburgh Steelers   Pittsburgh Steelers - 1975
46  1974        Miami Dolphins        Miami Dolphins - 1974
47  1973        Miami Dolphins        Miami Dolphins - 1973
48  1972        Dallas Cowboys        Dallas Cowboys - 1972
49  1971       Baltimore Colts       Baltimore Colts - 1971
50  1970    Kansas City Chiefs    Kansas City Chiefs - 1970
51  1969         New York Jets         New York Jets - 1969
52  1968     Green Bay Packers     Green Bay Packers - 1968
53  1967     Green Bay Packers     Green Bay Packers - 1967

In [9]:
# For dummy table, include champion column "temporary use random values to fill column"
# db_dummy_df["champion"] = np.random.random_integers(0 ,1, size= (23998,1))
# db_dummy_df

C:\Users\Jq46866\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: This function is deprecated. Please call randint(0, 1 + 1) instead

,team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,sacks,safties,Passes Defended,ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return,index,year,champion
0,Tennessee Titans,4,1,1,0,1,1,0,0,2,1,2,1,Tennessee Titans - 2013,2013,1
1,Tennessee Titans,16,1,0,0,1,2,0,1,0,2,0,2,Tennessee Titans - 2012,2012,1
2,Tennessee Titans,4,1,1,0,1,0,0,1,0,0,1,0,Tennessee Titans - 2011,2011,1
3,Denver Broncos,0,0,3,0,1,2,1,0,1,2,0,1,Denver Broncos - 2011,2011,0
4,Green Bay Packers,11,1,2,1,2,2,1,0,0,1,0,2,Green Bay Packers - 2010,2010,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23993,Baltimore Ravens,16,1,1,1,0,0,0,1,1,1,0,1,Baltimore Ravens - 2012,2012,0
23994,Baltimore Ravens,16,1,0,0,1,1,1,1,1,0,2,1,Baltimore Ravens - 2011,2011,1
23995,Miami Dolphins,2,0,0,0,0,0,1,2,1,3,1,0,Miami Dolphins - 2009,2009,0
23996,Philadelphia Eagles,16,0,2,0,3,1,0,2,0,0,1,1,Philadelphia Eagles - 2001,2001,1
23997,Houston Oilers,3,2,2,1,1,1,0,1,1,2,2,1,Houston Oilers - 1987,1987,1

## Load the data

In [5]:
# Import Dataset
df = pd.read_csv("Resources/sb_champion_stats.csv", index_col = 1)
df.head()

,Unnamed: 0,total_tackles_def,sacks_def,safties_def,passes_defended_def,ints_def,fumbles_lost_fum,td_passes_pass,ints_pass,sacks_pass,...,year,team,fg_success_rate,extra_success_rate,pass_success_rate,avg_yards_pass,avg_yards_rush,kicks_blocked,passes_per_rushing_plays,Champion
team_year,,,,,,,,,,,,,,,,,,,,,
arizona_cardinals_2001,0,670,5,0,29,13,7.0,0.0,0.0,0.0,...,2001,arizona_cardinals,0.833333,1.0,0.000000,10.715232,3.546939,0.0,0.004082,0.0
arizona_cardinals_2002,1,547,12,0,24,7,1.0,0.0,2.0,5.0,...,2002,arizona_cardinals,0.000000,0.0,0.388889,11.470588,4.256410,0.0,0.461538,0.0
arizona_cardinals_2003,2,548,15,0,35,8,7.0,5.0,7.0,25.0,...,2003,arizona_cardinals,0.750000,1.0,0.568862,12.957831,4.943396,0.0,3.150943,0.0
arizona_cardinals_2004,3,511,16,0,43,7,7.0,13.0,18.0,39.0,...,2004,arizona_cardinals,0.758621,1.0,0.560150,11.369231,3.585034,0.0,3.619048,0.0
arizona_cardinals_2005,4,483,19,0,27,9,11.0,21.0,21.0,45.0,...,2005,arizona_cardinals,0.955556,1.0,0.625373,12.421053,3.541436,0.0,3.701657,0.0

In [6]:
# Drop Columns 
df = df.drop(["year", "team", "Unnamed: 0", "extra_success_rate", "fg_success_rate", "kicks_blocked", 
             "safties_def"], axis = 1)
df.shape

(511, 15)

In [8]:
# Create features X and target Y datasets
X = df.drop("Champion", axis = 1)
y = df["Champion"]

# Scale Features

In [9]:
# Generate Scaler instance and scale the data
X_scaled = StandardScaler().fit_transform(X)

# Addressing Target Variable Imbalance with Naive Random Oversampling

In [84]:
# Prior to addressing the issue, we must split dataset into training and testing
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, random_state=1)

In [85]:
# Naive over sampling will randomly generate new minority class observations to balance outcomes
naive_ros = RandomOverSampler(random_state=1)
X_naive_ros, y_naive_ros = naive_ros.fit_resample(X_train, y_train)

# Logistic Regression (Decision Threshold = 0.75)

In [86]:
# Generate model instance
lr_model = LogisticRegression(solver='lbfgs', random_state=1)

In [87]:
# Determine model decision threshold
threshold = 0.75

In [88]:
# Fit the model
lr_model.fit(X_naive_ros, y_naive_ros)

# Predict model outcome (base case: decision threshold = .5)
y_lr_naive_ros = lr_model.predict(X_test)

# Predict model probabilities
y_lr_naive_ros_probs = lr_model.predict_proba(X_test)[:, 1]

# Calculate model outcome with precited probabilities and threshold
y_lr_naive_ros_thresh = (y_lr_naive_ros_probs >= threshold).astype(int)

In [90]:
# Print metrics
print("Accuracy Score:\n")
print(accuracy_score(y_test, y_lr_naive_ros_thresh))
print("\n")
print("Confusion Matrix:\n")
print(confusion_matrix(y_test, y_lr_naive_ros_thresh))
print("\n")
print("Classification Report:\n")
print(classification_report(y_test, y_lr_naive_ros_thresh))

Accuracy Score:

0.9140625


Confusion Matrix:

[[115   7]
 [  4   2]]


Classification Report:

              precision    recall  f1-score   support

         0.0       0.97      0.94      0.95       122
         1.0       0.22      0.33      0.27         6

    accuracy                           0.91       128
   macro avg       0.59      0.64      0.61       128
weighted avg       0.93      0.91      0.92       128