In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Import superbowl Dataset
superbowl = pd.read_csv("../Resources/superbowl.csv")

In [3]:
# Print df
superbowl.head()

   Year                Winner
0  2020    Kansas City Chiefs
1  2019  New England Patriots
2  2018   Philadelphia Eagles
3  2017  New England Patriots
4  2016        Denver Broncos

In [4]:
# Convert column Year to str 
superbowl["Year"] = superbowl["Year"].astype(str)
superbowl.dtypes

Year      object
Winner    object
dtype: object

In [5]:
# Format Winner column
superbowl["Winner"] = [row.lower() for row in superbowl["Winner"]]
superbowl["Winner"] = superbowl["Winner"].str.replace('.','')
superbowl["Winner"] = superbowl["Winner"].str.replace(' ','_')

C:\Users\Jq46866\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
# Create a unique identifier for team-year
superbowl["team_year"] = superbowl["Winner"] + "_" + superbowl["Year"]
superbowl.head()

   Year                Winner                  team_year
0  2020    kansas_city_chiefs    kansas_city_chiefs_2020
1  2019  new_england_patriots  new_england_patriots_2019
2  2018   philadelphia_eagles   philadelphia_eagles_2018
3  2017  new_england_patriots  new_england_patriots_2017
4  2016        denver_broncos        denver_broncos_2016

In [7]:
# Reorder Columns
superbowl = superbowl[["team_year", "Year", "Winner"]]

In [8]:
# Drop Winner Column
superbowl.drop(["Winner"], axis = 1, inplace = True)
superbowl.head()

                   team_year  Year
0    kansas_city_chiefs_2020  2020
1  new_england_patriots_2019  2019
2   philadelphia_eagles_2018  2018
3  new_england_patriots_2017  2017
4        denver_broncos_2016  2016

In [9]:
# Rename Column name Year to year
superbowl.columns = ["team_year", "year"]
superbowl.head()

                   team_year  year
0    kansas_city_chiefs_2020  2020
1  new_england_patriots_2019  2019
2   philadelphia_eagles_2018  2018
3  new_england_patriots_2017  2017
4        denver_broncos_2016  2016

In [10]:
# Write clean dataset
superbowl.to_csv("../Resources/clean_superbowl.csv", header = True, index = False)